@import url("../App.css");

.faq-parent{
    height: auto;
    margin:6rem;
    padding:4rem;
    display: grid;
    grid-template-rows:repeat(5,1fr);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  >.heading{
    font-family: Montserrat;
     font-size: 2em;
     font-weight: 600;
     line-height: 18px;
     letter-spacing: 0em;
>p{
    >span{
        color: #088586;
    }
}

}

    >.question-tile{
        height:9vh;
        padding:1rem;
        overflow:hidden ;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        font-family: Poppins;
        font-size: 1.5em;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        display:flex;
        justify-content:space-between;
        cursor: pointer; 
       
        &::after{
            font-size:1.5em;
        }
        
    }
    
    
    >.answer{
        height: auto;
      margin:0;
      overflow: hidden; 
      transition: max-height 0.3s ease-out;
      padding:10px;
      padding-top:0 ;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
      
      >p{
              // height:12vh;
      
              font-family: Poppins;
              font-size: 1.2em;
              font-weight: 300;
              line-height: 50px;
              letter-spacing: 0em;
              text-align: left;
          }
      
      
  }
}

