@import url("../App.css");

.footer-parent {
  width: 100%;
  margin: 0;
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  color: white;

  > .dermacare-goal {
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
    margin-top: 1.5rem;

    > .desc {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: poppins;
      // opacity: 0.5;
      font-size: 1.3em;
      line-height: 2rem;
    }
    // > .a2 {
    //   display: flex;
    //   margin-left: 2rem;
    //   // justify-content: center;
    //   > .copyright {
    //     color: white;
    //     font-family: Poppins;
    //     font-size: 1.2em;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: normal;
    //   }
    // }
  }

  > .logo-info {
    display: flex;
    flex-direction: column;
    // align-items: start;
    padding: 0;
    margin-top: 0.5rem;
    > img {
      filter: contrast(150%) brightness(150%);
    }
    // width: 50%;

    > .a1 {
      // width: 120%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    > .a2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      > .copyright {
        color: white;
        font-family: Poppins;
        font-size: 1.2em;
        font-style: normal;
        font-weight: 400;
        opacity: 0.7;

        line-height: normal;
      }
    }
  }

  > .email {
    display: flex;
    flex-direction: column;
    padding: 0rem 1.8rem 0 0;
    margin-top: 1.5rem;

    justify-content: start;
    > .b1 {
      > .tagline {
        margin: 0;
        font-family: Poppins;
        font-size: 1.15em;
        font-weight: 300;
        line-height: 59px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    > .b2 {
      > .input {
        background: linear-gradient(0deg, #94e0e0, #a9eaea),
          linear-gradient(0deg, #ffffff, #ffffff);
        border: 2px solid white;
        padding: 0.6rem;
        width: 400px;
        height: 30px;
        top: 9333px;
        border-radius: 11px;
        font-size: 1.2em;
      }
      ::placeholder {
        font-size: 1.2em;
      }
    }
  }
}
